<!DOCTYPE html>
<html>
<head>
    <title>koa2</title>
</head>
<body>
    <h1>Crawler</h1>
    <p>Please input word and device</p>
    <form action="/crawl" method="post">
        <label>key-word: <input name="word" value="koa"></label>
        <label>device: <select name="device">
            <option value="pc">pc</option>
            <option value="ipad">ipad</option>
            <option value="iphone6">iphone6</option>
            <option value="iphone5">iphone5</option>
        </select></label>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>