.container-fluid {
	padding: 0;
}
#player-main {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	max-width: 700px;
	float: none;
}
#player-imgs {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius:50%;
}
#player-imgl {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius:50%;
	margin: 20px 35px 5px;
}
#player-progress {
	height: 3px;
	margin: 10px 0;
	padding: 0;
	float: none;
}
.btn-default {
	border: none;
}
#player-volume {
	display: inline-flex;
	align-items: center;
	width: 82px;
}
#player-volume .volume-value {
	display: inline-block;
	width: 0;
	transition: width 0.3s linear;
}
#player-volume:hover .volume-value{
	width: 50px;
}
.btn-default:visited {
	background-color: transparent;
}
.btn-default:focus {
	background-color: transparent;
	outline: none;
}
#playerSlider {
	width: 100%;
	height: 3px;
	display: block;
}
#playerSlider .slider-track {
	height: 3px;
}
#playerSlider .slider-selection {  
    background: #33CC66; 
} 
#volumeSlider {
	width: 100%;
	margin-bottom: -1px;
}
#volumeSlider .slider-track {
	height: 6px;
}
#volumeSlider .slider-selection {  
    background: #33CC66; 
}  

.slider-handle.custom {
	background: transparent none;
}
.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: ''; 
}